.site-layout-background .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .site-layout-background .trigger:hover {
    color: #1890ff;
  }
  
div.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    /* background-image: url('img/dcwd-logo.png'); */
  }
  
  .site-layout .site-layout-background {
    background: rgb(255, 255, 255);
  }

.back-top{
  height: 40;
  width: 40;
  line-height: '40px';
  border-radius: 4;
  background-color: '#1088e9';
  color: '#fff';
  text-align: 'center';
  font-size: 14;
  }